#stuff to be ignored goes here
api/vendor/
api/error_log
word.php
new-sorrow.php
_resources/php/connect.php
_resources/php/search.backup.php
_resources/php/process-sorrow.php
api/composer.lock
api/views/home-backup.php
