* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container-fluid.wrapper {
    max-width: 720px;
    margin: 20px auto;
    position: relative;
    height: 100vh;
}

.explore {
    margin: 30px 0;
}

#results iframe {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #333;
}

.search-sorrows {
    margin: 15px 0;
}

.search-results {
    max-height: 300px;
    width: 100%;
    margin: 10px 0;
    border: 3px solid #333;
    border-radius: 5px;
    display: none;
    overflow: auto;
}

.search-results li i {
    float: right;
}

.search-results li i:hover {
    cursor: pointer;
}

.search-results li.list-group-item {
    border: none;
    display: block;
}

.search-results li a {
    text-decoration: none;
    color:  #23BDE7;
}

.show {
    display: block;
}

.custom-query {
    margin: 0 0 30px 0;
}

#entry, #sorrow, #quote, #entry-range {
    margin-top: 15px;
}

#entry-range-container div {
    width: 50%;
    display: inline-block;
}